[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CleaningValidation"]
	path = CleaningValidation
	url = https://github.com/chandlerxiandeyang/cleaningvalidation
	subdir = CleaningValidation
